.contactsBlock {
    min-height: 100vh;
    background-color: #9cb5c4;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.titleContacts {
    background-color: #bb6262;
}
.contactsForm{
    width: 250px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

}

.buttonContacts {
    width: 120px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
