@import "src/common/styles/sass/variable";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 625px) {
        justify-content: center;
      }
    }
  }
}

