.skillsBlock {
   min-height: 100vh;
    background-color: #cce7b2;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: #92adbe;
}


.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
