@import "src/common/styles/sass/variable";

.mainBlock {
    height: 100vh;
    background-color: $bgColor;
    .text {
        width: 400px;
        background-color: $bgSecondColor;
        color: #eee;
        font-weight: 400;
        font-size: 19px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
    .photo {
        width: 300px;
        height: 400px;
        background-color: $bgSecondColor;
    }
}
.staticHeadline {
    color: #fff;
    font-size: 42px;
    line-height: 42px;
    font-weight: 500;
    margin: 19px 0 10px;
    white-space: nowrap;
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    }

.dynamicHeadline {
    width: 359px;
    overflow: hidden;
    overflow: hidden;
    vertical-align: top;
    padding: 0;
    display: inline-block;
    color: #72b626;
    font-weight: 700;
    position: relative;
    text-align: left;
}
.isHidden {
    font-weight: 700;
    opacity: 0;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    color: #72b626;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}



