@import "src/common/styles/sass/variable";
@import "src/common/styles/sass/mixins";

.project {
  width: 450px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;

  .image {
    height: 300px;
    background-color: $textColor;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.6;
    }

/*    .btn {
      background-color: $primaryColor;
      box-shadow: none !important;
      border-radius: 26px;
      font-weight: 500;
      height: 46px;
      line-height: 46px;
      font-size: 15px;
      text-transform: uppercase;
      color: $textColor;
      padding: 0 33px;
      outline: none !important;
      overflow: hidden;
      display: inline-block;
      position: relative;
      font-family: 'Poppins', sans-serif;
      letter-spacing: .5px;
      border: 0;

      &:not(:disabled):not(.disabled) {
        cursor: pointer;
      }
    }*/
  }
  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px);
      font-weight: 400;
      text-transform: uppercase;
      display: block !important;
    }

    .description {
      @include text($textFontFamily, 14px);
      margin: 0;
      line-height: 28px;

    }
  }
}

















