.footerBlock {
     background-color: #ab9f6d;
    padding: 50px 0;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.titleFooter {
    background-color: #92adbe;
}

.socialFooterContainer {

    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.socialFooter {
    height: 60px;
    width: 60px;
    background-color: #c5c2c2;
}