.projectBlock {
    min-height: 100vh;
    background-color: #917593;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projectTitle {
    background-color: #92adbe;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}